*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    width: 50%;
    margin: auto;
    background-color: wheat;
    height: auto;
 
}

.imageContainer{
    width: auto;
    height: auto;
    background-image: url(https://shorturl.at/inJN5);
    background-repeat: no-repeat;
    text-align: center;
}

.headingToStyle{
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li a{
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    border: 1px solid black;
}
li{
    display: inline;
}

li a:hover{
  
    background-color: #04aa6d;
}

.active{
    background-color: #04aa6d;
}
.container-second{
    width:auto ;
    height: auto;
    background-color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.school{
    text-align: center;
    margin-top: 30px;
}

div.gallery{
    margin-top: 10px;
    border: 1px solid #ccc;
}
div.gallery img{
    width: 100%;
    max-height: 200px;
}

div.desc{
    padding: 15px;
    text-align: center;
}

.responsive{
    padding: 0 6px;
    float: left;
    width: 48%;
}

@media only screen and (max-width: 800px){
    .responsive{
        width: 30%;
    }
    li a{
        color: rgb(3, 3, 3);
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
    }
    li{
        display: inline;
    }
    
    li a:hover{
      
        background-color: #04aa6d;
    }
    .school{
        text-align: center;
        margin-top: 30px;
    }
    .style{
        font-size: 18px;
        
    }
}

@media only screen and (max-width: 50px){
    .responsive{
        width: 100%;
    }
    li a{
        color: rgb(3, 3, 3);
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
    }
    li{
        display: inline;
    }
    
    li a:hover{
      
        background-color: #04aa6d;
    }
    .school{
        text-align: center;
        margin-top: 30px;
    }
    .style{
        font-size: 6px;
        
    }
}
.clearfix{
    clear: both;
}

.photo{
    margin-top: 30px;
}

